<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">birthdaytime</th>
        <th scope="col">User Management</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of allUsers; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{row.firstName}}</td>
        <td>{{row.lastName}}</td>
        <td>{{row.birthdaytime}}</td>
        <td><button (click)="deleteUserToTable(i)"><i class="fa fa-minus-circle" aria-hidden="false"></i></button></td>
      </tr>
    </tbody>
  </table>