<table class="table">
  <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Date</th>
          <th scope="col">Priority</th>
          <th scope="col">Task Management</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let row of allTask; let i = index" [style.background-color]="row.priority">
          <th scope="row">{{i+1}}</th>
          <td>{{row.task}}</td>
          <td>{{row.description}}</td>
          <td>{{ row.date | date: 'full' : 'America/Los_Angeles' : 'en-US' }}</td>
          <td>
            <span [ngClass]="{
                'bg-danger': row.priority === 'High',
                'bg-warning': row.priority === 'Medium',
                'bg-success': row.priority === 'Low'
              }" style="
                padding: 10px; 
                border-radius: 6px;
                display: flex; 
                justify-content: center; 
                align-items: center; 
                width: 100%; 
                height: 100%;
                color: white;
              ">
                {{row.priority}}
              </span>
          </td>
          <td>
                <button (click)="deleteTaskToTable(i)"  style="background-color: transparent; border: none;">
                    <i class="fa fa-trash" aria-hidden="false" aria-hidden="false" style="color: red; background-color: transparent; border: none;"></i>
                </button>
          </td>
      </tr>
  </tbody>
</table>
