<form action="">
    <input class="form-control" type="text" name="task" id="task" placeholder="Add Task Name" [(ngModel)]="createTaskModal.task">
    <textarea class="form-control mt-2" id="description" name="description" placeholder="Add Description Name" rows="3" [(ngModel)]="createTaskModal.description"></textarea>
    <div class="d-flex mt-2 align-items-center">
        <label for="date">Target Date:</label>
        <input class="form-control mt-2" type="datetime-local" id="date" name="date" [(ngModel)]="createTaskModal.date" placeholder="Target Date">
    </div>
    <select class="form-select mt-2" name="priority" id="priority" [(ngModel)]="createTaskModal.priority">
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
    </select>
    <button class="btn btn-primary mt-2" type="submit" (click)="addTaskToTable()">Add Task To Table</button>
</form>