<div class="container">
    <div class="mainDiv row mt-5 mb-5">
      <div class="col-2 mt-5 mb-5">
        <ul>
          <li>Templates</li>
          <li>Import</li>
          <li>Trash</li>
        </ul>
      </div>
      <div class="col-5 mt-5 mb-5">
        <h1>Notes</h1>
        <div class="notes mt-1">
          <a href="">
            <p>Notes Title</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </a>
        </div>
        <div class="notes mt-1">
          <a href="">
            <p>Notes Title</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </a>
        </div> 
      </div>
      <div class="col-5 mt-5 mb-5">
        <div class="images">
            <img src="https://previews.123rf.com/images/ontsunan/ontsunan1908/ontsunan190800037/128509722-people-create-idea-to-success-flat-cartoon-character-graphic-design-landing-page-template-banner.jpg" alt="Notes" width="100%">
        </div>
        <h1>Notes From List</h1>
        <div>
          <p>Notes Title</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <button id="addNotesBtn" class="btn btn-warning mt-2 rounded-pill" type="button" (click)="addNote()">Add Notes</button>
      </div>
    </div>
  </div>
  
  <!-- Popup Form -->
  <div id="popupForm" class="modal" [style.display]="isPopupVisible ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Notes</h4>
          <button type="button" class="close" (click)="closePopup()">&times;</button>
        </div>
  
        <!-- Modal Body -->
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="noteTitle">Title:</label>
              <input type="text" class="form-control" id="noteTitle">
            </div>
            <div class="form-group">
              <label for="noteContent">Content:</label>
              <textarea class="form-control" id="noteContent"></textarea>
            </div>
          </form>
        </div>
  
        <!-- Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" (click)="closePopup()">Save</button>
        </div>
      </div>
    </div>
  </div>
  